body {
  position: relative;
}

.slider {
  --slidesTotal: 16;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(var(--slidesTotal),var(--col-4));
    column-gap: 4.167vw;
    padding: 0 4.167vw;

    will-change: transform;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    &-img__wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}